* {
    box-sizing: border-box
}

html {
    height: 100%
}

body {
    font-family: 'Heebo', sans-serif;
    font-weight: 300;
    padding: 0;
    margin: 0;
    background-color: rgb(250, 193, 0);
    color: rgb(15, 14, 18);
    min-height: 100%;
    display: flex;
    flex-direction: column
}

.body-wrapper {
    margin-bottom: 30px;
}

a {
    color: rgb(86, 85, 85);
    font-weight: bold;
}

a:hover {
    text-decoration: none;
}

dl {
    margin: 5px 0
}

dt,
dd {
    display: inline-block
}

dt {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 900
}

dd {
    margin-left: 12px
}

header {
    padding: 30px 0 10px 0
}

@media (min-width: 700px) {
    header {
        padding: 0
    }
}

header .logo {
    display: inline-block
}

header nav {
    float: right
}

header nav a {
    color: #393a45;
}

footer {
    margin: 80px 0 0 0
}

footer .container>div {
    padding: 10px 0 40px 0;
    border-top: 1px solid #393a45;
    text-align: right
}

footer a {
    display: inline-block;
    padding-left: 20px;
    color: #393a45;
    text-decoration: none
}

.logo {
    font-weight: 900
}

.logo a {
    color: black;
    text-decoration: none
}

nav ul {
    margin: 0;
    padding: 0
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 0 0 0 15px
}

nav a {
    text-decoration: none
}

.container {
    padding: 0 20px;
    max-width: 1300px;
    margin: 0 auto
}

@media (min-width: 700px) {
    .container {
        padding: 0 40px
    }
}

.columns>div {
    padding: 0 0 30px 0
}

.columns>div .inner {
    padding: 5px 0 0 0;
    border-top: 1px solid #393a45
}

@media (min-width: 700px) {
    .columns {
        display: flex;
        width: 100%;
        margin-top: 25px
    }
    .columns>div {
        width: auto;
        padding: 0 30px 10px 0
    }
}

.band {
    /*margin-top: 10px;*/
    background: linear-gradient(to bottom, #69696b, #0f0f17);
    padding: 25px 0;
    z-index: 1;
    position: relative;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3)
}

.band .jumbo {
    margin-bottom: 5px;
    margin-left: 20px
}

@media (min-width: 1000px) {
    .band .container {
        display: flex
    }
    .band .container .jumbo {
        width: 30%;
        margin-bottom: 0;
    }
    .band .container .featured-patch {
        padding-left: 20px;
        width: 70%
    }
}

.band .featured-patch {
    color: rgba(255, 255, 255, 0.3)
}

.band .featured-patch .embedded {
    border: 1px solid rgba(255, 255, 255, 0.5)
}

.band .featured-patch .player.large {
    background: none;
    padding-bottom: 0
}

.band .featured-patch .waveform.large {
    min-height: auto;
    height: auto
}

.band .featured-patch .caption {
    padding-top: 5px;
    float: right;
    font-size: 14px
}

.jumbo {
    font-size: 32px;
    font-weight: 100;
    color: #fff
}


@media (min-width: 700px) {
    .jumbo {
        font-size: 35px
    }
}

#knobs {
    width: 300px;
    max-width: 100%;
    display: block;
    margin-bottom: 14px
}

.callouts {
    counter-reset: callout-counter;
    padding: 20px
}

.callouts dd {
   margin-bottom: 10px;
    display: block;
    padding-right: 10px;
    color: #393a45
}

@media (min-width: 1000px) {
    .callouts {
        padding: 20px 40px 0 40px;
        display: flex
    }
    .callouts dd {
        width: 25%;
        padding-left: 50px;
        margin-top: -30px
    }
}

.callouts dd:before {
    content: counter(callout-counter);
    counter-increment: callout-counter;
    float: left;
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    position: relative;
    border: 1px solid #393a45;
    font-size: 18px;
    margin-right: 15px
}

@media (min-width: 1000px) {
    .callouts dd:before {
        float: none;
        left: -50px;
        top: 30px;
        margin-right: 0
    }
}

iframe.dir {
    border-style: none;
    width: 100%;
    height: 400px
}